
/* TODO: Move common css class codes into their own class later */
body {
    font-family: var(--main-font-family);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    margin: 0 0 0 40px;
}

.active {
    color: var(--color-shade-black);
    font: var(--type-body-bold-1-700);
}

.inactive {
    color: var(--color-blue-purple);
    font: var(--type-regular-1-400);
    opacity: 50%;
}


.sm-devices {
    display: block;
}

.desktop {
    display: none;
}

/* TODO: cards-container is used in 2 places - add reusable styles inside this class */
.cards-container {

}

.flex {
    display: flex;
}

footer {
    background-image: linear-gradient(183deg, var(--color-blue-light) -8.57%, var(--color-blue-mid) 82.96%);
    /* padding: 110px 0; */
}

.footer-inner {

}

@media screen and (min-width: 901px) {
    header {
        width: var(--width-76);
        margin: var(--spacing-auto);
        padding: 56px 0 40px 0; /* feeling this should be margin */
    }
    
    hr {
        border: 1px solid black;
        border-radius: 6px;
        width: 56px;
        /* TODO: create class for 2 different alignments center and left */
    }
    
    section.hero { /* the class .hero that is applied directly on a section element */
        display: flex;
        justify-content: space-between;
        width: 78%;
        /* margin: var(--spacing-auto); */
        margin: 40px auto 190px auto;
    }
    
    section.services { /* the class .services that is applied directly on a section element */
        width: var(--width-70);
        margin: 0 auto 220px auto;
    }
    
    section.providers { /* the class .providers that is applied directly on a section element */
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto 220px auto;
    }
    
    section.download { /* the class .download that is applied directly on a section element */
        display: flex;
        justify-content: space-between;
        width: 72%;
        margin: 0 auto 250px auto;
    }
    
    section.testimonials { /* the class .testimonials that is applied directly on a section element */
        width: 76%;
        margin: 0 auto 216px auto;
    }
    
    section.articles { /* the class .articles that is applied directly on a section element */
        width: var(--width-70);
        margin: 0 auto 200px auto;
    }

    .header-logo-container {
        width: 160px;
    }

    .hero-img-container {
        width: 56%;
    }

    .hero-content-container {
        width: 36%;
        align-self: center;
    }

    .hero-h1 {
        font: var(--type-bold-3-700);
    }

    .hero-text {
        font: var(--type-light-6-300);
        margin: 25px 0 45px 0;
    }

    .hero-btn {
        font: var(--type-body-bold-1-700);
        padding: 20px 40px;
        border-radius: 55px;
        color: var(--color-shade-white);
        background: var(--color-blue-main);
    }

    .smaller-devices {
        display: none;
    }

    .desktop {
        display: block;
    }
    
    /* TODO: cards-container is used in 2 places - add reusable styles inside this class */
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 37px 34px;
    }
    
    .flex {
        display: flex;
    }
    
    footer {
        background-image: linear-gradient(183deg, var(--color-blue-light) -8.57%, var(--color-blue-mid) 82.96%);
        padding: 110px 0;
    }
    
    .footer-inner {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        gap: 37px 34px;
        width: var(--width-76);
        margin: var(--spacing-auto)
    }    
}